.dataset-summary-container {
  display: flex;
}

.dataset-summary {
  font-size: 8px;
  width: 120px;
  height: 100%;
}

.dataset-summary-group {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
